.productCheckout {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.productCheckout__image {
	width: 180px;
	object-fit: contain;
	height: 180px;
}

.productCheckout__information {
	padding-left: 20px;
}

.productCheckout__information > button {
	background: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}

.productCheckout__title {
	font-size: 17px;
	font-weight: 800;
}

.productCheckout__price {

}

.productCheckout__rating {
	display: flex;
}